article {
    margin: 0 auto;
}

.article-header {
  background-color: white;
  padding: $padding 0;
  overflow: hidden;
  transition: background-color 1s;

  .night & {
    @include outputThemeBg(true, 30%);
  }

  .page-heading,
  .intro {
    color: black;
    text-align: center;
    padding: 0 $padding/4;

    .night & {
      color: white;
    }
  }
}

.article-body {
  text-align: center;
  position: relative;
}

/* Version sash */

.version-sash {
  background-color: $color-cyan;
  padding: 4px;
  color: white;
  width: 120px;
  text-align: center;
  transform: rotate(45deg);
  position: absolute;
  z-index: 1;
  top: 10px;
  right: -40px;
  font-size: 12px;
}
