.conditions-display {
  text-align: center;

  .section-heading {
    position: static;
    left: auto;
  }

  #map {
    display: none;
  }

  #map.active {
    width: 100%;
    height: 240px;
    position: relative;
    display: block;

    &::after {
      @extend %beforeAfter;
      border: 3px solid white;
    }
  }
}

.conditions-display__list {
  padding-top: 24px;

  @media all and (max-width: $bp-mobile) {
    padding-bottom: 60px;
  }
}

.conditions-display__item {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  min-height: 208px;
  margin: 16px 0 16px;
  box-sizing: border-box;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    top: 100%;
    left: 12.5%;
    width: 75%;
    border-bottom: 1px solid $color-blue-pale;
    @include outputThemeBorderColour;

    @media all and (max-width: $bp-mobile) {
      display: none;
    }
  }

  & + .conditions-display__item {
    @media all and (max-width: $bp-mobile) {
      margin-top: 8px;
      padding-top: 24px;
      border-top: 1px solid $color-purple-dark;
      @include outputThemeBorderColour;
    }
  }

  @media all and (max-width: $bp-mobile) {
    width: 76%;
    min-height: 0;
    margin-right: 12%;
    margin-left: 12%;
  }

  .conditions-display__header {
    padding-bottom: $padding/4;
    min-height: 86px;

    @media all and (max-width: $bp-mobile) {
      padding-bottom: 2px;
      min-height: 40px;
    }
  }

  .conditions-display__value {
    color: $color-blue-pale;
    @include outputThemeTextColour;
    font-size: 24px;
  }

  .conditions-display__icon {
    min-height: 66px;
    vertical-align: middle;
    display: inline-block;

    @media all and (max-width: $bp-mobile) {
      min-height: 0;
    }

    svg {
      display: inline-block;
    }
  }

  .icon {
    svg > * {
      fill: white;
    }
  }
}
