.footer {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;

  .no-js & {
    position: static;
    display: none;
  }

  .wrapper {
    padding: 12px;
    background-color: $color-purple-darkest;
    @include outputThemeBg(true);
  }

  .night & {
    .wrapper {
      @include outputThemeBg(true, 30%);
    }
  }

  .tab__heading {
    font-size: 24px;
    padding-bottom: $padding/3;
  }

  .tabs__item {
    display: inline-block;
    padding-right: $padding/3;
    margin-right: $padding/2;
    position: relative;

    &:after {
      position: absolute;
      content: "/";
      left: 100%;
      top: 0;
    }

    a {
      color: white;

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }

    &:last-of-type {
      padding: 0;
      margin: 0;

      &:after {
        display: none;
      }
    }
  }

  .tab__panel {
    position: relative;
    display: none;
    padding: $padding/4 $padding/4 $padding/4 $padding/2;
    text-align: left;

    .no-js & {
      display: none;
    }
  }

  p {
    margin: 0.1rem 0 16px;
    font-size: 15px;
  }

}
