.status-bar {
  text-align: center;
  //min-height: 164px;

  .icons-block {
    min-height: 108px;
    display: inline-block;
    width: 114px;
    text-align: center;

    svg {
      display: inline-block;
    }

    svg:not(.co-logo-icon) {
      width: 75%;
      height: 75%;
    }

    #playing-icon {
      width: 100%;
      height: 100%;
    }
  }

  .icon {
    display: none;
  }

  p {
    padding: 0 $padding/2;

    @media all and (max-width: $bp-mobile) {
      padding: 0 $padding/3;
    }
  }

  .location-icon,
  .sun-icon {
    animation: rotating 7s linear 0s infinite;
  }

  $wave-delay-list: 0s 0.5s 1s;

  @each $current-wave-delay in $wave-delay-list {
    $i: index($wave-delay-list, $current-wave-delay);
    .sound-wave-#{$i} {
        animation: fading 2s ease-out $current-wave-delay infinite;
    }
  }
}
