.summary-section {
  text-align: center;
  position: absolute;
  top: 10px;
  left: auto;
  right: 8px;
  padding: 0;

  .summary-icon {
    width: 78px;
    display: inline-block;
  }

  @media all and (max-width: 474px) {
    display: none;
  }
}

.summary-heading {
  @extend %hidden;
}

.summary-desc {
  margin-bottom: 6px;
}
