.controls-section {
  display: none;

  button {
    display: inline-block;
    cursor: pointer;

    .text {
      display: inline-block;
      color: white;
      font-size: 22px;
    }

    .icon {
      //display: inline-block;
      display: none;
      width: 20px;
      height: 20px;

      svg > * {
        fill: white;
      }
    }
  }
}

.button-close {
  position: absolute;
  top: 5px;
  right: 5px;
  border: 0 none;
  padding: 0;
  transition: transform 0.5s;

  .text {
    @extend %hidden;
  }

  .icon {
    display: block;
  }

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:active,
  &:focus {
    transform: rotate(45deg);
  }
}
