.cta {
    @extend %cta-base;
    padding: 22px;
    font-size: 20px;
    @include outputThemeBg(true, 10%);

    &:hover,
    &:focus,
    &:active {
      cursor: pointer;
      background-color: $color-purple-dark;
      @include outputThemeBg(true);
    }
}

.cta--secondary {
  @extend %cta-base;
  background-color: $color-purple-dark;
  padding: 18px;
  @include outputThemeBg(true, 10%);

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    background-color: $color-cyan;
    @include outputThemeBg(true);
  }
}

.cta,
.cta--secondary {
  transition: background-color 0.4s;

  &:hover {
    transition: background-color 0s;
  }
}
