audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

article,
aside,
div,
footer,
form,
header,
main,
section {
  box-sizing: border-box;
}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    background-color: transparent;
    position: relative;
}

html {
  height: 100%;
  color: white;
}

body {
  height: 100%;
  margin: 0;
  position: relative;
  background-color: $color-purple-dark;
  background-attachment: fixed;
  transition: background-color 2s;

  @each $key, $value in $themeColors {
    &.#{$key} {
      //background-image: linear-gradient(to bottom, $value 20%, lighten($value,15%) 100%);
      background-color: $value;
    }
  }
}

canvas {
  display: none;
}

.outerwrapper {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 20%, transparent 100%);
  min-height: 100%;
}

%innerProps {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  z-index: -1;
  width: 300%;
  min-height: 100%;
  transform: rotate(8deg);
}

.innerwrapper {
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  &.storm {
      background-image: repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 4px);
      background-size: 14px 12px;
  }
  &.rain {
    //background-image: repeating-linear-gradient(98deg, rgba(255,255,255,.5), rgba(255,255,255,.5) 1px, transparent 1px, transparent 100%, rgba(0,0,0,.3) 4px);
    background-image: linear-gradient(135deg,
		transparent calc(50% - .015em), rgba(255,255,255,.1) 0,
		rgba(255,255,255,.2) calc(50% + .015em), transparent 0);
    background-size: 10px 14px;
  }

  &.sleet {
    background-image: linear-gradient(215deg,
    transparent calc(42% - .015em),
    rgba(255, 255, 255, 0.1) 0,
    rgba(255, 255, 255, 0.5) calc(50% + .015em), transparent 0);
    background-size: 13px 14px;
  }
  &.snow {
    //background-image: repeating-radial-gradient(center center, rgba(255,255,255,.1), rgba(255,255,255,.1) 3px, transparent 3px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(255,255,255,.3), rgba(255,255,255,.3) 2px, transparent 2px, transparent 100%);
    background-size: 14px 14px;
  }
  &.fog {
    background-image: repeating-linear-gradient(135deg, rgba(255,255,255,.2), rgba(255,255,255,.2) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
    background-size: 4px 4px;
  }
}

.main-section {
  position: relative;
}

.section {
  padding: $padding 0 0;
}

.section:last-of-type {
  padding-bottom: 60px;
}
