@import 'https://fonts.googleapis.com/css?family=Libre+Baskerville';
@import 'https://fonts.googleapis.com/css?family=Lora';

body {
  text-rendering: optimizeLegibility;
  font-size: 17px;
  line-height: 1.4;
  font-family: 'Lora', serif;
}

h1,
h2,
h3,
button {
  font-family: 'Libre Baskerville', serif;
  -webkit-font-variant-ligatures: common-ligatures;
  -webkit-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  /* for iOS and Safari 6 */
  font-variant-ligatures: common-ligatures;
}

.page-heading {
  font-size: 32px;
  margin-bottom: $padding/2;
  position: relative;
}

.section-heading {
  font-size: 32px;
  margin: 12px auto;

  @extend %hidden;
}

h1,
h2,
h3 {
  margin-top: 0;
}

a {
  color: white;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.minor-word {
  font-size: 12px;
  position: absolute;
  bottom: 94%;
}
