@mixin outputThemeBg($dark: false, $darkenValue: 25%) {
  @each $key, $value in $themeColors {
    @if $dark {
      .#{$key} & {
        background-color: darken($value, $darkenValue);
      }
    }
    @else {
      .#{$key} & {
        background-color: $value;
      }
    }
  }
}

@mixin outputThemeBgGrad() {
  @each $key, $value in $themeColors {
    .#{$key} & {
      background-image: linear-gradient(to bottom, $value, darken($value, 5%));
    }
  }
}

@mixin outputThemeTextColour() {
  @each $key, $value in $themeColors {
    .#{$key} & {
      color: lighten($value, 50%);
    }
  }
}

@mixin outputThemeBorderColour() {
  @each $key, $value in $themeColors {
    .#{$key} & {
      border-color: lighten($value, 50%);
    }
  }
}

@function rem($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}
