article {
    margin: 0 auto;
}

.article-header {
  background-color: white;
  padding: $padding 0;

  .page-heading,
  .intro {
    color: black;
    text-align: center;
  }
}

.article-body {
  text-align: center;
}
