//Colours
$color-light-grey: #C7D0D4;
$color-trans-grey: rgba(50, 50, 50, 0.8);
$color-purple-darkest: #312775;
$color-purple-dark: #38308c;
$color-purple-light: #574bdb;
$color-cyan: #0f9cbc;

//Sizes
$padding: 40px;
