//Colours
$color-dark-grey: #404040;
$color-light-grey: #C7D0D4;
$color-trans-grey: rgba(50, 50, 50, 0.8);
$color-purple-darkest: #312775;
$color-purple-dark: darken($color-purple-darkest, 5%);
$color-cyan: #0f9cbc;
$color-blue-pale: #aecef4;

//Theme colours
$themeColors: (
  hot: #cc4319,
  warm: #cc7219,
  cold: #1b5bcc,
  freezing: #1ba5a5
);

//Sizes
$padding: 30px;
$max-width: 600px;
$bp-mobile: 500px;

//Placeholders
%cta-base {
  background-color: $color-cyan;
  text-align: center;
  color: white;
  display: inline-block;
  border: 3px solid white;
  text-decoration: none;
}

%hidden {
  position: absolute;
  left: -999em;
}

%clearfix {
  *zoom: 1;

  &:before,
  &:after {
      content: "";
      display: table;

      line-height: 0;
  }

  &:after {
      clear: both;
  }
}
