.canvas-container {
  //display: none;
  padding-bottom: 50%;
  position: relative;
  height: 0;
  margin-bottom: 36px;

  canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
    height: 100% !important;
  }
}
