.main-section {
  position: relative;

  &:hover .controls {
    display: block;
  }

  .controls {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $color-trans-grey;

    button {
      background-color: transparent;
      border: 0 none;
      float: right;
      padding: 6px;

      .text {
        position: absolute;
        left: -999em;
      }

      .icon {
        width: 28px;
        height: 28px;
        display: block;
        padding: 5px;
        border: 1px solid darken($color-light-grey, 45%);
        //background-color: $color-light-grey;

        path {
          fill: white;
        }
      }
    }
  }

  .status-bar {
      padding: 0;
      text-align: center;
      margin-top: 0;
      font-size: 22px;
  }
}

.canvas-container {
  padding-bottom: 50%;
  position: relative;
  height: 0;
  margin-bottom: 36px;

  canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
    height: 100% !important;
  }
}
