.conditions-display {
  text-align: center;
}

.conditions-display__item {
  display: inline-block;
  width: 33.3%;
  margin-right: -8px;
  min-height: 200px;

  @media all and (max-width: 500px) {
    width: 100%;
    margin-right: 0;
  }

  .conditions-display__heading {
    color: $color-blue-pale;
    padding-bottom: $padding/4;
  }

  .conditions-display__value {
    font-size: 28px;
  }

  .conditions-display__icon {
    min-height: 66px;
    vertical-align: middle;
    display: inline-block;

    svg {
      display: inline-block;
    }
  }

  .icon {
    svg > * {
      fill: white;
    }
  }
}
