.conditions-display {
  text-align: center;
}

.conditions-display-item {
  display: inline-block;
  width: 33.3%;
  margin-right: -8px;
  min-height: 200px;

  .conditions-display-item__heading {
    color: $color-blue-pale;
  }

  .conditions-display-item__value {
    font-size: 32px;
  }

  .icon {
    svg > * {
      fill: white;
    }
  }
}
