.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;

  .no-js & {
    position: static;
  }

  .wrapper {
    padding: 12px;
    background-color: $color-purple-darkest;
  }
  .tabs_item {
    display: inline-block;

    a {
      color: white;
      padding-right: $padding/3;
      margin-right: $padding/2;
      position: relative;

      &:after {
        position: absolute;
        content: "/";
        left: 100%;
      }
    }

    a:last-of-type {
      padding: 0;
      margin: 0;

      &:after {
        display: none;
      }
    }
  }

  p {
    margin: 0.1rem 0;
    font-size: 15px;
  }

  .tab {
    display: none;

    .no-js & {
      display: block;
    }
  }

}
