fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

label {
    font-size: 1.4rem;
    display: inline-block;
    margin-right: 8px;
}

button {
  background-color: transparent;
  border: 0 none;

  &:disabled {
    opacity: 0.5;
  }
}

input[type="text"],
input[type="number"] {
    padding: 6px;
    border: 0 none;
    border-radius: 3px;
}

textarea {
    resize: vertical;
}

.form-section {
  position: relative;
}

.form-user-location {
  white-space: pre-line;
  position: relative;

  a {
    display: inline-block;
    padding: $padding/4 0 0;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }
}

.form-coords {
  background-color: $color-purple-dark;
  padding: $padding;
  text-align: left;
  position: relative;
  width: 100%;
  max-width: $max-width;

  .cta {
    @extend %cta-base;
    padding: 11px;
    font-size: 16px;
  }

  .form-coords__legend {
    font-size: 22px;
    margin-bottom: $padding/4;
  }

  label {
    @extend %hidden;
  }

  input[type="text"],
  input[type="number"] {
    width: 65%;
    height: 30px;
    font-size: 20px;
    color: $color-dark-grey;
    margin-right: $padding/4;
  }

  .button-close {
    top: $padding/2;
    right: $padding/2;
  }

  &.active {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    //top: -$padding/2;
  }

  &.inactive {
    position: absolute;;
    z-index: 0;
    top:-400px;
    left:0;
    transition: left;
  }

}
