fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

label {
    font-size: 1.4rem;
    display: inline-block;
    margin-right: 8px;
}

button {
  background-color: transparent;
  border: 0 none;
}

input[type="text"] {
    padding: 4px;
}

textarea {
    resize: vertical;
}

.form-coords {

  .form-coords__legend {
    font-size: 22px;
    margin-bottom: $padding/4;
  }

  background-color: $color-purple-dark;
  padding: $padding/2;
}
