audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

div,
section,
article,
main,
aside,
header,
footer {
  box-sizing: border-box;
}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    background-color: transparent;
}

html {
  height: 100%;
  color: white;
}

body {
  background: linear-gradient(to bottom, $color-purple-dark 37%, $color-purple-light 100%);
  min-height: 100%;
  margin: 0;
  background-attachment: fixed;
}

.main-section {
  position: relative;
}

.active {
  z-index: 1;
  position: absolute;
  left: 0;
}

.inactive {
  position: absolute;;
  z-index: 0;
  top:0;
  left:-999em;
  transition: left;
}
