audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

article,
aside,
div,
footer,
form,
header,
main,
section {
  box-sizing: border-box;
}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    background-color: transparent;
}

html {
  height: 100%;
  color: white;
}

body {
  background: linear-gradient(to bottom, $color-purple-dark 20%, $color-purple-light 100%);
  min-height: 100%;
  margin: 0;
  background-attachment: fixed;
}

.main-section {
  position: relative;
}

.section {
  padding: $padding - 6 0 0;
}

.section:last-of-type {
  padding-bottom: 60px;
}
