
html {
    color: #ffffff;
    background-color: #000000;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

div,
section,
article,
main,
aside,
header,
footer {
  box-sizing: border-box;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
    background-color: transparent;
}

html,
body {
  height: 100%;
}

body {
  background: linear-gradient(to bottom, $color-purple-dark 37%, $color-purple-light 100%);
}

article {
    margin: 0 auto;
}

.article-header {
  background-color: white;
  padding: $padding 0;

  .page-heading,
  .intro {
    color: black;
    text-align: center;
  }
}

.article-body {
  padding: $padding 0;
}

// ::webkit-full-screen {
// }
