.status-bar {
  text-align: center;
  //min-height: 164px;

  .icons-block {
    min-height: 88px;
  }

  .icon {
    display: none;
  }

  p {
    padding: 0 $padding/2;

    @media all and (max-width: $bp-mobile) {
      padding: 0 $padding/3;
    }
  }

  //Show first icon until app starts
  #start {
    display: block;
    animation: rotating 7s linear infinite;
  }
}
