//Basics
@import "base.scss";
@import "utilities/mixins.scss";
@import "utilities/animations.scss";
@import "utilities/reset.scss";
@import "utilities/helpers.scss";
@import "generic/typography.scss";
@import "generic/forms.scss";
@import "generic/layout.scss";
@import "generic/controls.scss";
@import "generic/cta.scss";
@import "modules/footer.scss";
@import "modules/article.scss";
@import "modules/status-bar.scss";
@import "modules/conditions-display.scss";
@import "modules/summary.scss";

/* P5 hack */
#p5_loading {
  position: absolute;
  left: -999em;
}

.awards-banner {
  position: absolute;
  width: 160px;
  height: auto;
  top: 58px;
  right: 16px;
  max-width: 100%;

  @media all and (max-width: 880px) {
    width: 120px;
    top: 120px;
  }

  @media all and (max-width: 600px) {
    top: 140px;
  }

  @media all and (max-width: 422px) {
    position: static;
    display: block;
    margin: 0 auto;
    padding-bottom: 100px;
  }
}
