/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
@import 'https://fonts.googleapis.com/css?family=Libre+Baskerville';
@import 'https://fonts.googleapis.com/css?family=Lora';

html {
    color: #ffffff;
    background-color: #000000;
}

body {
  text-rendering: optimizeLegibility;
  font-size: 17px;
  line-height: 1.4;
  font-family: 'Lora', serif;
}

h1,
h2,
h3,
.cta button {
  font-family: 'Libre Baskerville', serif;
  -webkit-font-variant-ligatures: common-ligatures;
  -o-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  /*letter-spacing: 0.075em;*/
  /* for iOS and Safari 6 */
  font-variant-ligatures: common-ligatures;
}

h1 {
  text-align: center;
  padding-top: 32px;
}

h1,
h2,
h3 {
  margin-top: 0;
}

a {
  color: white;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

label {
    font-size: 1.4rem;
    display: inline-block;
    margin-right: 8px;
}

input[type="text"] {
    padding: 4px;
}

button {
    padding: 12px;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    color: black;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
}

#defaultCanvas0 {
    display: inline-block;
    width: 100% !important;
    height: auto !important;
    /*max-width: 800px;
    max-height: 600px;*/
}

.canvas-container {
  padding-bottom: 50%;
  position: relative;
  height: 0;
  margin-bottom: 36px;
}

/*@media all and (max-width: 640px) {
  .canvas-container {
    padding-bottom: 150%;
  }
}*/

.canvas-container canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

article {
    margin: 0 auto;
}

.cta {
    text-align: center;
    padding: 0 0 20px 0;
}

.cta p {
    width: 50%;
    margin: 0 auto 12px;
    display: block;
}

.status-bar {
    padding: 0;
    text-align: center;
    margin-top: 0;
}

.inactive {
    position: relative;
}

.inactive:after {
    position: absolute;
    content: "";
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
}

.footer {
  background-color: #454545;
  padding: 12px;
}

.footer p {
  margin: 0.1rem 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
